@import url('https://fonts.googleapis.com/css?family=Fira+Sans+Condensed|Girassol&display=swap');

$color1: rgba(16, 37, 66, 1);
$color2: rgba(248, 112, 96, 1);
$color3: rgba(205, 215, 214, 1);
$color4: rgba(179, 163, 148, 1);
$color5: rgba(255, 255, 255, 1);