@import "./Global.scss";

.navbar {
    display: flex;
    color: white;
    background-color: $color1;
}

#brand {
    font-family: 'Girassol', cursive;
    font-size: 30px;
}

.navbar-item {
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Fira Sans Condensed', sans-serif;
}