@import "./MainContent.scss";
@import "./Global.scss";

#portfolio-header {
 
    padding-bottom: 15px;
}

.portfolio-section {
    margin-top: 0px;
    padding: 20px;

    background-color: $color1;  
}

.portfolio-section-header {
    font-family: 'Fira Sans Condensed', sans-serif;
}

.portfolio-projects {
    margin: 0px;
}

.project-card {
    background-color: red;
}

.card-link {
    color: $color1;
}
